SUPABASE_URL=https://ecxqhaszqtxnrxjnmxps.supabase.co
SUPABASE_PROJECT_ID=ecxqhaszqtxnrxjnmxps
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=https://ecxqhaszqtxnrxjnmxps.supabase.co
VITE_SUPABASE_PROJECT_ID=ecxqhaszqtxnrxjnmxps
VITE_SUPABASE_PUBLISHABLE_KEY=

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_WEBHOOK_URL=
